body{
  background-color:#E0E0E0;
  padding:0;
  margin:0;
}


button { 
  text-align:center;
  font-family: Lucida Sans Unicode;
  background-color: #FF904F;
  border-width: 1px;
  padding: 0px;
  padding:.5em;
}

#ruinslist{
	height:100px
}

.ruinname{
	text-align:center;

	border:1px solid blue;
}

#map { 
  text-align: center;
  height:100vh;
  padding:0;
  margin:0;
 }

 #mapcontrols {
  width:5em;
  height:70%;
  position:absolute;
  left:1em;
  top:1em;
  padding:0;
  margin:0; 
 }

 #mapcontrols button{
  width:2em;
  height:2em;
  left:0;
  display-inline: block; 
  margin-bottom:0.5em;
  font-weight:bold;
  font-size:200%;  
  padding:0;
 }

 #mapcontrols #view-more{
  margin-top:0;
  position:absolute;
  left:0;
  bottom:0;
 }



/*
 #expand_menu {
  background-color: #FF904F;
  width:15em;
  height:1em;
  position:absolute;
  bottom:0;
  left:1em;
  margin:0;
  padding:1em;
  font-weight: bold;
  cursor: pointer;
 }
*/


.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div#main {
  padding:0;
  margin:0;
  height:100vh;
  width:100vw;
  position:relative;
}

div.panzoom  { 
    height:100vh;
}

div.panzoom svg { 
    height:100%;
    width:100%;
}

#ruin_obelisk_data{
  padding:2em;
  width:25%;
  height:25%;
  background-color: #FFCAAB;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display:none;
  margin:1em;
  position:relative;
}

.ruin_obelisk_data_close{
  position: absolute;
  bottom: 1em;
  right: 1em;
}


#more_info{
  padding:2em;
  width:90vw;
  height:75vh;
  background-color: #FFCAAB;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display:none;
  margin:1em;
}

.more_info_close{
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#more_info_background {
  transition: all 0.3s 0.3s;
}
#more_info,
#more_info_wrapper {
  transition: all 0.3s ease-out;
}
#more_info {
  transform: translateX(0) translateY(-40%);
}
.popup_visible #more_info {
  transform: translateX(0) translateY(0);
}


#more_info_background {
    -webkit-transition: all 0.3s 0.3s;
       -moz-transition: all 0.3s 0.3s;
            transition: all 0.3s 0.3s;
}
#more_info,
#more_info_wrapper {
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
            transition: all 0.4s;
}
#more_info {
    -webkit-transform: translateX(0) translateY(-40%);
       -moz-transform: translateX(0) translateY(-40%);
        -ms-transform: translateX(0) translateY(-40%);
            transform: translateX(0) translateY(-40%);
}
.popup_visible #more_info {
    -webkit-transform: translateX(0) translateY(0);
       -moz-transform: translateX(0) translateY(0);
        -ms-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
}
